.product-information-container {
    width: 50%;
    background: #FFFFFF;
    padding: 50px;
}

.breadcrumb-container {
    color: #808080;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    margin: 40px 0;
}

.product-title {
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
}

.product-price {
    margin-bottom: 20px;
}

.product-description {
    font-size: 18px;
    margin: 20px 0;
    color: #808080;
    line-height: 1.4;
}

.product-category {
    color: #808080;
    margin: 20px 0;
}